*{
    padding:0;
    margin: 0;
    box-sizing: border-box 1px solid;
}
body{
    background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
}

.header{
    display: flex;
    justify-content: flex-end;
    background-color: black;
}

.nav ul {
    display: flex;
    list-style: none;
    
}

.nav ul li{
    padding: 15px;;
   
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.banner { 
    margin: 40px 40px 80px 30px ;
    display: flex;
    justify-content: space-around;
}

.joel{
    width: 20rem;
    height: 180px;
    border-radius: 10px;
    box-shadow: 0 15px 25px ;
    
}
hr{
    box-shadow: 0 2px 10px ;
}

.title{
    font-size: 3em;
    
   
}

.resumen{
    width: 45%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.btn-primary{
    width: 200px;
    background-color: grey;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    animation-name: boton ;
    animation-duration: 5s;
    animation-iteration-count: 1;
    box-shadow: 0 15px 25px grey


}

/* @keyframes boton{
    from{
        margin-left: 600%;
    }
    to{
        margin-left: -0.7%;
    }
} */

.text-portafolio{
    margin-top: 40px;
    text-align: center;
    font-size:2.5em;
    font-weight: bold;
}

.btn-primary:hover{
    background-color: yellow;
    color: black;
    font-weight: bold;
    transition: background-color 1s;
    transform: scale(1.05);
    
}

.btn-primary:active{
    transform: translateY(3px);
}

.title-section{
    margin-left: 20rem;
    font-size: 30px;
    justify-content: center;
}

.portafolio{
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 30px 15px;
    
    

}

.container-detail{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card{

    display: flex;
    
    
}

.card div{
     margin : 20px;
   
}

 .card div img {
    margin-left: 40px;
    width: 20rem;
    height: 180px;
    border-radius: 10px;
    box-shadow: 0 15px 25px grey;
    
} 

.card div img:hover{
    box-shadow: 2px 5px 1px yellow;
    transform: scale(1.05);

}

.section-works{
    box-shadow: 0 2px 10px ;

}



.btn-portafolio{
    margin-top: 20px;
    width: 200px;
    background-color: #CE401D;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    animation-name: boton ;
    animation-duration: 5s;
    animation-iteration-count: 1;
    box-shadow: 0 8px 25px grey
}


.btn-portafolio:hover{
    background-color: green;
    color: white;
    font-weight: bold;
    transition: background-color 1s;
    transform: scale(1.05);

}

.btn-portafolio:active{
    transform: translateY(3px);
}
