// VARIABLES SCSS --> EN SASS PODEMOS USAR VARIABLES PARA USAR COLORES FUENTES ETC
// LA FORMA EN QUE CREAMOS VARIABLES ES DIFERENTE --> $NOMBREVARIABLE : VALOR
$color-principal:rgb(109,219,174);
$color-red:red;
$padding-1:10px;
$b:2px solid;
$fz:50px;


@mixin alertita($color-text:#fff , $bg:green) {
    background-color: $bg;
    padding: $padding-1;
    border-radius: $padding-1;
    color: $color-text;
    margin-bottom: $padding-1;
    
}
