:root{
    --color-blue: #1F3F68;
    --color-text:rgba(0, 0, 0, 0.6);
    --color-blue-2:#356EAD;
}

.title_section{
    color:var(--color-blue-2);
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
}
.title_card{
    font-weight: 700;
    font-size: 18px;
    color:var(--color-blue)
}

.text_card{
    color:var(--color-text);
    font-weight: 400;
    font-size: 14px;
}

.author{
    font-weight: 700;
    color:var(--color-blue);
    font-size: 14px;
}

.icons{
    display:flex;
    justify-content: end;
    gap:15px;
    align-items: center;
}

.row{
    align-items: center !important;
}

.banner{
    position: relative;
    background-image: url('https://raw.githubusercontent.com/pechbe/retogrupal-Boostrapp/master/src/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}

.banner2{
    position: absolute;
    background-image: url('https://raw.githubusercontent.com/pechbe/retogrupal-Boostrapp/master/src/banner2.png');
    
    background-size: cover;
    height: 150px;
    margin-top: 5%;

}

.text-banner{ 
    font-size: 20px;
    margin-top: 15px;
    text-align: center;
}

/*{ }*/