:root{
    --primary-theme-color:#20232a;
    --secondary-theme-color:#282c34;
    --primary--text--color:#ffff;
    --primary--highlight-color:#61dafb;
    --primary--font--family: 'arial';
    --padding--section : 1.5rem;
    --padding-container : 1rem;
    --max-width-container: 640px;
    --leter-color-1:#00bef8;
    --leter-color-2:#ff0697;
    --leter-color-3:#ffe600;
    --leter-color-4:#bb00ff;
    --leter-color-5:#f5926b;
    --leter-color-6:#ff00ff;

}










@media(max-width: 760px){
    :root{
        --padding-section:2rem;
        --padding-container:0.75rem;
        --max-width-container:1024px;
        --primary-theme-color:red;
        --leter-color-1:blue;
        --leter-color-2:green;
        --leter-color-3:violet;
        --leter-color-4:aqua;
        

    }
}