

.title_section{
    color:$color-blue-2;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
}
.title_card{
    font-weight: 700;
    font-size: 18px;
    color:$color-blue;
}

.text_card{
    color:$color-text;
    font-weight: 400;
    font-size: 14px;
}

.author{
    font-weight: 700;
    color:$color-blue;
    font-size: 14px;
}

.icons{
    display:flex;
    justify-content: end;
    gap:15px;
    align-items: center;
}

.row{
    align-items: center !important;
}

